<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.luckypeak.playground.mybatislearning.dao.RecordMapper">
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="xyz.luckypeak.playground.mybatislearning.entity.RecordDO">
        insert into t_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            creator,
            created_at,
            updater,
            updated_at,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title},
            </if>
            <choose>
                <when test="creator != null">
                    #{creator},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            cast(unix_timestamp(now(3)) * 1000 as unsigned),
            <choose>
                <when test="updater != null">
                    #{updater},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            cast(unix_timestamp(now(3)) * 1000 as unsigned),
        </trim>
    </insert>
    <select id="selectOneById" resultType="xyz.luckypeak.playground.mybatislearning.entity.RecordDO">
        select id, title, creator, created_at, updater, updated_at
        from t_record
        where id = #{id}
    </select>
</mapper>