<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         metadata-complete="true">

    <context-param>
        <param-name>param-name</param-name>
        <param-value>context-param-value</param-value>
    </context-param>

    <!--servlet描述信息-->
    <!--任何一个servlet都对应一个servlet-mapping -->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <!--这个位置必须是带有包名的全限定类名-->
        <servlet-class>xyz.luckypeak.playground.javawebappdemo.controller.UserController</servlet-class>
        <init-param>
            <param-name>param-name</param-name>
            <param-value>servlet-param-value</param-value>
        </init-param>
    </servlet>

    <!--servlet映射信息-->
    <servlet-mapping>
        <!--这个也是随便的，不过这里写的内容要和上面的一样。-->
        <servlet-name>UserController</servlet-name>
        <!--这里需要一个路径-->
        <!--这个路径唯一的要求是必须以 / 开始-->
        <!--当前这个路径可以随便写-->
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

</web-app>